DATABASE_URL="postgresql://user:password@host:5432/database"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
RESEND_API_KEY=""
EMAIL_FROM=""
DEV_TENANT_SLUG="neuroconexao"
BASE_DOMAIN="cliniq.com.br"